<div>
    <div class = content_left style = "background-color: white; width: 35ex">
        <br>
        <h1 class="title" style="margin-bottom: 3ex; margin-left:1.5ex; padding-top: 1ex; font-size: 25pt">
            Youn-Gyu Park
            <br>
        </h1>
        <p style="text-align: right; margin-top: -6ex; padding-bottom: 2.5ex; margin-right:3.5ex; font-size: 12pt">
            <b>박윤규</b> /p&#x0251;&#609;. juŋ-&#609;ju/
        </p>
        
        <p style="text-align: left; margin-top: 1ex; margin-bottom: 8ex; margin-left:-1ex; font-size: 10pt">
            Ph.D. Student<br>
            Department of Linguistics<br>
            The University of Texas at Austin
        </p>
        <p style="height: 5ex; margin-bottom: -5ex">
            {% include menu.html %}
        </p>
    </div>
</div>