<hr class="content_horizontal_bar">
<nav>
    <span class = "menu"><a class = "menu" href="{{ '/' | relative_url }}">Home</a></span>
    <span class = "menu"><a class = "menu" href="{{ 'data/articles' | relative_url }}">Articles</a></span>
    <span class = "menu"><a class = "menu" href="{{ 'data/presentations' | relative_url }}">Presentations</a></span>
    <span class = "menu"><a class = "menu" href="{{ 'data/experiences' | relative_url }}">Experiences</a></span>
    <span class = "menu"><a class = "menu" href="{{ 'data/assets/downloads/cv_ygpark.pdf' | relative_url }}">CV</a></span>
</nav>
<hr class="content_horizontal_bar" style="margin-bottom: 50px">