<div>
    <div class = content style = "background-color: white; width: 70ex">
        <br>
        <h1 class="title" style="margin-bottom: 3ex; margin-left:2ex; padding-top: 1ex; font-size: 25pt">
            Youn-Gyu Park
            <br>
        </h1>
        <p style="text-align: left; width: 100%; margin-top: -6ex; margin-left:2ex; font-size: 12pt">
            <b>박윤규</b> /p&#x0251;&#609;. juŋ-&#609;ju/
        </p>
        <p style="text-align: right; width: 100%; margin-top: -8ex; margin-right:6ex; font-size: 10pt">
            Ph.D. Student<br>
            Department of Linguistics<br>
            The University of Texas at Austin
        </p>
    </div>
</div>