$primary-color: #333f48;

div.header_background {
    width: 100%;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}

div.page_background{
    width: 140ex;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
}

div.page_foreground {
    display: block;
    flex-direction: row;
    gap: 5ex;
    width: 135ex;
    margin-top: 5ex;
    background-color: white;
}

/* ----- MOBILE RESPONSIVE ----- */
@media (max-width: 768px) {

    .content_left {
        position: relative;   /* fixed 해제 */
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .content_right {
        margin-left: 0;
        padding: 20px;
    }

    .page_foreground {
        display: block;
    }
}

div.title {
    height: 175px;
    margin-top: -75px
}

a.menu {
    margin-left: 4ex;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #515151;
    font-size: 11pt;
}


.content {
    padding: 20px;
    padding-bottom: 25ex;
    flex: 1;
    background-color: #e9e6df;
    min-height: 100vh;
}

.content_left {
    position: fixed;
    height: auto;
    width: 35ex;
    overflow-y: auto;
    background-color: white;
}

.content_right {
    margin-top: 10ex;
    margin-left: 35ex;
    flex: 1;
    background-color: white;
}


div.foreground {
    text-align: center;
}

span.menu {
    margin: 0 5ex 0 5ex;
    padding-bottom: 5ex
}

menu {
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
    width: 120px;
}


hr.content_horizontal_bar{
    width: 132.5ex
}

hr.content_vertical_bar{
    display: flex;
    flex-direction: column;   /* 세로 방향 */
    align-items: flex-start;
    width: 35ex;
    margin-left: 2.5ex;
}


body {
    margin: 0;
    padding: 0;
}

div.content_body {
    padding-left: 5ex;
    width: 140ex;
}

div.content_bottom {
    padding-left: 5ex;
    width: 140ex;
}

.container {
    display: flex;
}


.sidebar .profile h2 {
    margin-top: 0;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 45px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 5ex;
    width: 950px;
}

p {
    word-break: keep-all;
    text-align: justify;
    line-height: 175%;
    padding-left: 5ex
}

h2 {
    font-size: 17pt;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 2ex;
    display: fixed;
    align-items: left;
}

a.contact{
    color: #d6d2c4;
}