$primary-color: #333f48;


div.foreground {
    text-align: center;
}

div.header_background {
    width: 100%;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}


div.page_foreground {
    display: flex;
    flex-direction: row;
    gap: 5ex;
    width: 135ex;
    margin-top: 5ex;
    background-color: white;
}

div.page_background{
    width: 140ex;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
}


a.menu {
    margin-left: 4ex;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #515151;
    font-size: 11pt;
}


.content {
    padding: 20px;
    padding-bottom: 25ex;
    flex: 1;
    background-color: #e9e6df;
    min-height: 100vh;
}

.content_left {
    position: fixed;
    height: auto;
    width: 35ex;
    flex: 1;
    background-color: white;
}

.content_right {
    margin-top: 10ex;
    padding-left: 35ex;
    width: 132.5ex;
    flex: 2;
    background-color: white;
}

.hamburger {
    display: none;
}

.sidebar {
    display: none;
}

.content_top {
    width: 0; height: 0;
}

.content_bottom {
    display: block;
    padding-left: 5ex;
    width: 140ex;
}

.content_bottom_mobile {
    display: none;
}

@media (max-width: 800px) {

    .content_left {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 0.5rem;
        left: 1.5rem;
        z-index: 1000;
        font-size: 3rem;
        cursor: pointer;
        user-select: none;
    }

    .sidebar {
        display: block;
        position: fixed;
        left: -300px;
        width: 250px;
        height: 100%;
        background-color: white;
        z-index: 1000;
        overflow-y: auto;
        transition: 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .page_background{
        width: 100%;
    }

    .page_foreground {
        display: flex;
        flex-direction: column;
        width: 70ex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .content_top {
        width: 100%;
        margin-top: -7.5ex;
        margin-left: -2.5ex
    }

    .content_right {
        width: 70ex;
        margin-left: -142.5ex;
        margin-top: 15ex;
        padding-left: 2.5ex;
        padding-right: 72.5ex;
        box-sizing: border-box;
    }
    
    .content_bottom_mobile {
        display: block;
        width: 70ex;
        margin-left: -77.5ex;
        margin-top: 15ex;
        padding-left: 2.5ex;
        padding-right: 2.5ex;
    }

    .content_bottom {
        display: none;
    }

    hr.content_horizontal_bar {
        display: none;
    }
}


span.menu {
    margin: 0 5ex 0 5ex;
    padding-bottom: 5ex
}

menu {
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
    width: 120px;
}


hr.content_horizontal_bar{
    width: 132.5ex
}

hr.content_vertical_bar{
    display: flex;
    flex-direction: column;   /* 세로 방향 */
    align-items: flex-start;
    width: 35ex;
    margin-left: 2.5ex;
}


body {
    margin: 0;
    padding: 0;
}

div.content_body {
    padding-left: 5ex;
    width: 140ex;
}


.container {
    display: flex;
}


.sidebar .profile h2 {
    margin-top: 0;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 45px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 5ex;
    width: 950px;
}

p {
    word-break: keep-all;
    text-align: justify;
    line-height: 175%;
    padding-left: 5ex
}

h2 {
    font-size: 17pt;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 2ex;
    display: fixed;
    align-items: left;
}

a.contact{
    color: #d6d2c4;
}