<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<div class="header_background">
    {% include header.html %}
</div>

<body>

    <div class="page_background">
        <div class = "page_foreground">
            <div class = "title">
                {% include title.html %}
            </div>

        {% include menu.html %}
        
        <div class="content_body">
        {{ content }}
        </div>

        {% include contact.html %}

        </div>
    </div>

    <div class="header_background">
        {% include footer.html %}
    </div>
    
</body>



</html>